* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background: #F2F5F6;
}

.main-header {
    padding: 0 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;
}

.wrapper .menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.wrapper .menu ul li a {
    text-decoration: none;
    color: #043A53;
}

.wrapper .action-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper .action-btn button.btn {
    padding: 15px 26px;
    border: none;
    border-radius: 42px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

.wrapper .action-btn button.btn.btn-login {
    background: white;
    color: #12141D
}

.wrapper .action-btn button.btn.btn-signup {
    background: #043A53;
    color: white;
}

.wrapper .hamburger_icon {
    display: none;
}

.hero-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.hero-section .content {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .content .image_box {
    order: 1;
}

.content-banner {
    order: 2;

    text-align: center;
    max-width: 709px;
    width: 100%;
}

.content-banner .mobile-image {
    display: none;
}

.content-banner .title {
    font-size: 64px;
    color: #12141D;
    font-weight: 800;
}

.content-banner p {
    font-size: 20px;
    font-weight: 500;
    color: #12141D;
}

.content-banner p span {
    display: block;
}

.content-banner .title span {
    color: #043A53;
}

.content-banner .button-action {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 32px;
}

.content-banner .button-action .btn-started {
    background: #043A53;
    padding: 16px 24px;
    color: white;
    border: none;
    border-radius: 55px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 23px 47px 0px #043A533D;

}

.content-banner .button-action .btn-video {
    padding: 16px 24px;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #043A53;
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.hero-section .content .image_box.right {
    order: 3;
}

.partners-section {
    background: #ffffff;
    padding: 55px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.partners-section .partner-logos {
    width: 90%;
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

.partner-logos h2 {
    font-size: 16px;
    font-weight: 500;
}

.partners-section .partner-logos ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 64px;
}

.video-section {
    background: #043A53;
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.video_info {
    width: 75%;
}

.video_info .video-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
}

.video_info .video-container h2 {
    font-size: 60px;
    font-weight: 700;
    color: white;
    width: 60%;
}

.video_info .video-container h2 span {
    display: block;
    color: #F0B73F;
}

.video_info .video-container p {
    font-size: 20px;
    color: white;
    width: 40%;
    font-weight: 400;
    line-height: 1.5;
}

.video-bg {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.video-bg img {
    width: 100%;

}

.beneficial-elements {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background: white;
}

.beneficial-elements .benefits {
    width: 75%;
    display: flex;
    gap: 64px;
}

.beneficial-elements .benefits .elements span {
    background: #043A53;
    padding: 4px 24px;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    display: inline-block;
}

.beneficial-elements .benefits .elements h2 {
    font-size: 60px;
    font-weight: 700;
    color: #12141D;
    margin-bottom: 32px;
}
.beneficial-elements .benefits .elements p{
    font-size: 20px;
    color:#12141D;
    font-weight: 400;
    line-height: 1.5;
}
.beneficial-elements .benefits .features ul{
    list-style-type: none;
    display: flex;
    gap:16px;
}
.beneficial-elements .benefits .features ul li .feature-box{
    background: #F2F5F6;
    padding:32px 24px;
}
.beneficial-elements .benefits .features ul li .feature-box h3{
    margin-top: 32px;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}
.beneficial-elements .benefits .features ul li .feature-box p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.main-sections{
    display: flex;
    flex-direction: column;
}
.building-bridges{
    background: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    order:3;
}
.bridges-content{
    width: 40%;
    padding-right: 70px;

}
.bridges-content h2{
    font-size: 60px;
    font-weight: 700;
    padding-bottom:32px;
}
.bridges-content h2 span{
    color:#92A7B0;

}
.bridges-content p{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.reports{
    background: #043A53;
    padding:18px 16px 18px 24px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    border:none;
    color:#fff;
    font-size: 18px;
    font-weight: 700;
    gap:25px;
    margin-top: 32px;
    cursor: pointer;
}
.number-section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:100px 0;
    background: #fff;
    order:1;
}
.number-section .numbers{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.number-section .numbers .step{
    font-size: 60px;
    color:#043A53;
    font-weight: 700;
    text-align: center;
}
.number-section .numbers .step span{
    display: block;
    font-size: 24px;
    color:#404040;
    padding-top: 16px;
}
.meet-founder {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    order:2;
}
.founder-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.founder-section .meet{
    flex:1;
    padding-left: 150px;
    
}
.founder-section .meet h2{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 32px;
}
.founder-section .meet p{
    font-size: 24px;
    color:#12141D;
    line-height: 1.5;
    margin-bottom: 32px;
}
.founder-info h3{
    font-size: 20px;
    font-weight: 700;
    color:#12141D;
}
.founder-info h3 span{
    display: block;
    color:#404040;
    font-size: 16px;
    font-weight: 400;
}
.success-btn{
    margin-top: 64px;
}
.success{
        background: #043A53;
        padding:18px 16px 18px 24px;
        border-radius: 55px;
        display: flex;
        align-items: center;
        border:none;
        color:#fff;
        font-size: 18px;
        font-weight: 700;
        gap:25px;
        margin-top: 32px;
        cursor: pointer;
}
.founder-section .profile-image{
    width: 50%;
}
.profile-image img{
    width: 100%;
}
@media screen and (min-width:1200px) and (max-width:1300px){
    .content-banner .title{
        font-size: 62px;
    }
    .video_info .video-container h2{
        font-size: 50px;
    }
    .beneficial-elements .benefits{
        width: 85%;
    }
    .bridges-content h2{
        font-size: 45px;
    }
}

@media screen and (min-width:993px) and (max-width:1199px) {
    .partners-section .partner-logos {
        flex-direction: column;
        gap: 20px;
    }

    .partners-section .partner-logos h2 {
        text-align: center;
    }

    .partners-section .partner-logos ul {
        gap: 24px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
}

@media screen and (min-width:360px) and (max-width:992px) {
    .wrapper .menu ul {
        display: none;
    }

    .wrapper .action-btn {
        display: none;
    }

    .wrapper .hamburger_icon {
        display: block;
    }

    .hero-section {
        height: auto;
        padding: 40px 20px;
    }

    .hero-section .content {
        width: 100%;
        flex-direction: column;
    }

    .hero-section .content .content-banner {
        order: 1;
    }

    .hero-section .content .image_box {
        display: none;
    }

    .hero-section .content .content-banner .title {
        font-size: 36px;
        font-weight: 700;
    }

    .hero-section .content .content-banner p {
        font-size: 14px;
        font-weight: 500;
        padding: 16px 0 0;
    }

    .hero-section .content .content-banner .button-action {
        flex-direction: column;
    }

    .hero-section .content .content-banner .button-action .btn-started {
        width: 150px;
        margin: 0 auto;
    }

    .hero-section .content .content-banner .button-action .btn-video {
        width: 245px;
        margin: 0 auto;
    }

    .content-banner .mobile-image {
        display: block;
        margin-top: 60px;
    }

    .partners-section .partner-logos {
        flex-direction: column;
    }

    .partners-section .partner-logos h2 {
        text-align: center;
    }

    .partners-section .partner-logos ul {
        gap: 24px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .video-section {
        padding: 50px 0 0;
    }

    .video-section .video_info {
        width: 100%;
        padding: 20px 20px 0;
    }

    .video-section .video_info .video-container {
        flex-direction: column;
    }

    .video-section .video_info .video-container h2 {
        width: 100%;
        font-size: 30px;
    }

    .video-section .video_info .video-container p {
        width: 100%;
        padding-top: 16px;
    }
    .beneficial-elements{
        padding:50px 0;
    }
    .beneficial-elements .benefits{
        width:100%;
        padding:0 20px;
        gap:32px;
        flex-direction: column;
    }
    .beneficial-elements .benefits .features ul{
        flex-direction: column;
    }
    .beneficial-elements .benefits .elements{
        text-align: center;
    }
    .beneficial-elements .benefits .elements span{
        margin-bottom: 16px;
    }
    .beneficial-elements .benefits .elements h2{
        font-size: 30px;
        margin-bottom: 16px;
    }
    .beneficial-elements .benefits .elements p{
        font-size: 14px;
    }
    .building-bridges{
        flex-direction: column;
        order:1;
    }
    .building-bridges .bridges-image{
        order:2;
        width: 100%;
    }
    .building-bridges .bridges-image img{
        width: 100%;
    }
    .building-bridges .bridges-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:16px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:20px;
    }
    .building-bridges .bridges-content h2{
        font-size: 30px;
        padding-bottom: 0;
    }
    .building-bridges .bridges-content p{
        font-size: 14px;
    }
    .reports{
        margin-top: 0;
    }
    .number-section{
        padding:50px 0;
        order:2;
    }
    .number-section .numbers{
        width: 100%;
        padding:0 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:32px;
    }
    .number-section .numbers .step{
        font-size: 36px;
    }
    .number-section .numbers .step span{
        font-size: 16px;
    }
    .founder-section{
        padding:20px;
        flex-direction: column;
    }
    .founder-section .meet{
        padding-left: 0;
        text-align: center;
    }
    .founder-section .meet h2{
        font-size: 30px;
        margin-bottom: 16px;
    }
    .founder-section .meet p{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .success-btn{
        margin-top: 32px;
    }
    .founder-section .profile-image{
        width: 100%;
    }
}