* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background: #F2F5F6;
}

.main-header {
    padding: 0 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;
}

.wrapper .menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.wrapper .menu ul li a {
    text-decoration: none;
    color: #043A53;
}

.wrapper .action-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper .action-btn button.btn {
    padding: 15px 26px;
    border: none;
    border-radius: 42px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

.wrapper .action-btn button.btn.btn-login {
    background: white;
    color: #12141D
}

.wrapper .action-btn button.btn.btn-signup {
    background: #043A53;
    color: white;
}

.wrapper .hamburger_icon {
    display: none;
}

.hero-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.hero-section .content {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .content .image_box {
    order: 1;
}

.content-banner {
    order: 2;

    text-align: center;
    max-width: 709px;
    width: 100%;
}

.content-banner .mobile-image {
    display: none;
}

.content-banner .title {
    font-size: 64px;
    color: #12141D;
    font-weight: 800;
}

.content-banner p {
    font-size: 20px;
    font-weight: 500;
    color: #12141D;
}

.content-banner p span {
    display: block;
}

.content-banner .title span {
    color: #043A53;
}

.content-banner .button-action {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 32px;
}

.content-banner .button-action .btn-started {
    background: #043A53;
    padding: 16px 24px;
    color: white;
    border: none;
    border-radius: 55px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 23px 47px 0px #043A533D;

}

.content-banner .button-action .btn-video {
    padding: 16px 24px;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #043A53;
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.hero-section .content .image_box.right {
    order: 3;
}

.partners-section {
    background: #ffffff;
    padding: 55px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.partners-section .partner-logos {
    width: 90%;
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

.partner-logos h2 {
    font-size: 16px;
    font-weight: 500;
}

.partners-section .partner-logos ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 64px;
}

.video-section {
    background: #043A53;
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.video_info {
    width: 75%;
}

.video_info .video-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
}

.video_info .video-container h2 {
    font-size: 60px;
    font-weight: 700;
    color: white;
    width: 60%;
}

.video_info .video-container h2 span {
    display: block;
    color: #F0B73F;
}

.video_info .video-container p {
    font-size: 20px;
    color: white;
    width: 40%;
    font-weight: 400;
    line-height: 1.5;
}

.video-bg {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.video-bg img {
    width: 100%;

}

.beneficial-elements {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background: white;
}

.beneficial-elements .benefits {
    width: 75%;
    display: flex;
    gap: 64px;
}

.beneficial-elements .benefits .elements span {
    background: #043A53;
    padding: 4px 24px;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    display: inline-block;
}

.beneficial-elements .benefits .elements h2 {
    font-size: 60px;
    font-weight: 700;
    color: #12141D;
    margin-bottom: 32px;
}

.beneficial-elements .benefits .elements p {
    font-size: 20px;
    color: #12141D;
    font-weight: 400;
    line-height: 1.5;
}

.beneficial-elements .benefits .features ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.beneficial-elements .benefits .features ul li .feature-box {
    background: #F2F5F6;
    padding: 32px 24px;
}

.beneficial-elements .benefits .features ul li .feature-box h3 {
    margin-top: 32px;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.beneficial-elements .benefits .features ul li .feature-box p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.main-sections {
    display: flex;
    flex-direction: column;
}

.building-bridges {
    background: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    order: 3;
}

.bridges-content {
    width: 40%;
    padding-right: 70px;

}

.bridges-content h2 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 32px;
}

.bridges-content h2 span {
    color: #92A7B0;

}

.bridges-content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.reports {
    background: #043A53;
    padding: 18px 16px 18px 24px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    gap: 25px;
    margin-top: 32px;
    cursor: pointer;
}

.number-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background: #fff;
    order: 1;
}

.number-section .numbers {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.number-section .numbers .step {
    font-size: 60px;
    color: #043A53;
    font-weight: 700;
    text-align: center;
}

.number-section .numbers .step span {
    display: block;
    font-size: 24px;
    color: #404040;
    padding-top: 16px;
}

.meet-founder {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    order: 2;
    padding: 100px 0;
}

.founder-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.founder-section .meet {
    flex: 1;
    padding-left: 150px;

}

.founder-section .meet h2 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 32px;
}

.founder-section .meet p {
    font-size: 24px;
    color: #12141D;
    line-height: 1.5;
    margin-bottom: 32px;
}

.founder-info h3 {
    font-size: 20px;
    font-weight: 700;
    color: #12141D;
}

.founder-info h3 span {
    display: block;
    color: #404040;
    font-size: 16px;
    font-weight: 400;
}

.success-btn {
    margin-top: 64px;
}

.success {
    background: #043A53;
    padding: 18px 16px 18px 24px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    gap: 25px;
    margin-top: 32px;
    cursor: pointer;
}

.founder-section .profile-image {
    width: 50%;
}

.profile-image img {
    width: 100%;
}

.testimonials {
    background: #F2F5F6;
    padding: 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.testimonials-section {
    width: 75%;
}

.testimonials-section .testimonials-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.testimonials-section .testimonials-header h2 {
    font-size: 60px;
    font-weight: 700;
}

.testimonials-section .testimonials-header span {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.testimonials-cards ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.testimonials-cards ul li {
    width: 50%;
}

.testimonials-cards ul li .card {
    background: #fff;
    padding: 24px;
    border-radius: 16px;
    width: 100%;

}

.testimonials-cards ul li .card p {
    font-size: 24px;
    color: #12141D;
    line-height: 1.5;
}

.testimonials-cards ul li .card .user-info {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 24px;
}

.testimonials-cards ul li .card .user-info h2 {
    font-size: 16px;
    color: #000000;
    font-weight: 700;
}

.testimonials-cards ul li .card .user-info h2 span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #404040;
    padding-top: 5px;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.dots ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dots ul li {
    position: relative;
    width: 20px;
    height: 12px;
    border-radius: 10px;
    background-color: #D7E0E5;
}

.dots ul li.active {
    background: #043A53;
    width: 80px;
}

.dots.mobile {
    display: none;
}

.mobile_see_all {
    display: none;
}
.blog{
    background: white;
    padding:100px 0;
    display: flex;
    justify-content: center;
}
.blog_wrapper{
    width:75%;
}
.blog_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;

}
.blog_header h2{
    font-size: 60px;
    color:#12141D;
    font-weight: 700;
}
.blog_header h2 span{
    color:#043A53;
    display: inline;
    font-size: 60px;
}
.blog_header span{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.blog_content ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap:32px;
}
.blog_content ul li .blog_card{
    background: white;
    border:1px solid #F2F5F6;
    box-shadow: 0px 1px 2px 0px #00000014;
    width: 100%;

}
.blog_content ul li .blog_card:hover{
    box-shadow: 0px 50px 80px 0px #043A5312;

}
.blog_content ul li .blog_card img{
    width: 100%;
}
.main-content-section{
    padding:16px 25px 24px;
}
.date-section h3{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 16px;
}
.date-section h3 span{
    font-weight: 400;
}
.main-content-section .content h2{ 
    font-size: 24px;
    color:#000000;
    padding-bottom: 8px;
}
.main-content-section .content p{
    font-size: 18px;
    color:#404040;
    font-weight: 400;
    line-height: 1.5;
}
.story{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    color:#12141D;
    display: flex;
    align-items: center;
    gap:16px;
    cursor: pointer;
}
.blog_content ul li .blog_card .story img.arrow_img{
    width: 24px;
    height: 24px;
}
.see-all{
    display: none;
}
.cta-banner{
    background:#12141D;
    padding-right: 20px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.banner{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
    padding-left: 137px;
}
.banner-content{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-content h2{
    font-size: 60px;
    color:white;
    text-transform: capitalize;
}
.banner-content h2 span{
    display: block;
}
.trial{
    background: #F0B73F;
    padding: 18px 16px 18px 24px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    gap: 25px;
    margin-top: 32px;
    cursor: pointer;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content p{
    font-size: 20px;
    color:#fff;
    margin-top: 24px;
}

.main-footer{
    background:white;
    padding:80px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-footer .footer-section{
    width:80% ;
    display: flex;
    justify-content: space-between;
    gap:90px;
}
.footer-section .left_column{
    flex:1;
}
.footer-section .left_column ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:10px;
    margin-top: 50px;
}
.footer-section .content_column{
    width:40%;
}
.footer-section .content_column p{
    font-size: 18px;
    color:#404040;
    line-height: 1.5;
    font-weight: 400;
}
.footer-section .links{
    flex:1;
    display: flex;
    gap:90px;
}
.footer-section .links .home_links h2{
    font-size: 24px;
    font-weight: 700;
    color:#12141D;
    margin-bottom: 32px;
}
.footer-section .home_links ul{
    list-style-type: none;
}
.footer-section .home_links ul li a{
    text-decoration: none;
    font-size:18px;
    color:#404040;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
}
.collaborators{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content-collaborators{
    width:60%;
    margin:40px auto 20px;
    border:1px solid #888888;
    border-radius: 20px;
    background: #fff;
}
.content-collaborators h2{
    font-size: 16px;
    font-weight: 400;
    color:#444444;
    padding:30px 0;
    text-align: center;
    border-bottom: 1px solid #888888;
}
.content-collaborators h2 span{
    color:#6439FF;
    cursor: pointer;
}
.content-collaborators .images{
    padding:30px 0;
}
.content-collaborators .images h2{
    font-size: 16px;
    color:#444444;
    font-weight: 400;
    text-align: center;
    border-bottom: none;
    padding:0;
}
.content-collaborators .images ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-top: 30px;
}
.tems-privacy{
    width: 100%;
    border-top:1px solid #000;
    padding:24px 0;
    display: flex;
    justify-content: center;
}
.mid-container{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-privacy{
    font-size: 16px;
    font-weight: 500;
    color:#92A7B0;
}
.imp-links ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:20px;
}
.imp-links ul li a{
    text-decoration: none;
    cursor: pointer;
    color:#92A7B0;
    font-size: 16px;
    font-weight: 500;
}
.language{
    display: flex;
    align-items: center;
    gap:5px;
    color:#92A7B0;
    font-size: 16px;
    font-weight: 500;
}
.contact-section{
    background: white;
    width: 100%;
    padding:100px 0;
    display: flex;
    justify-content: center;
}
.contact-section .contact-form{
    width: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact-section .contact-form h2{
    font-size: 64px;
    font-weight: 800;
}
.contact-section .contact-form p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    padding-top: 16px;
    color:#12141D;
}
.contact-section .contact-form p span{
    display: block;
}
.contact-section .contact-form form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    margin-top: 32px;
}
.contact-section .contact-form form .field{
    width:48%;
    border:1px solid #91A7B0;
    padding:12px;
    display: flex;
    align-items: center;
    gap:9px;
    border-radius: 10px;


}
.contact-section .contact-form form .field input{
    border:none;
    font-size: 16px;
    font-weight: 400;
    color:#91A7B0;
    padding:12px;
    width:100%;
}
.contact-section .contact-form form .field input:focus{
    outline: none;
}
.contact-section .contact-form form .message{
    width: 100%;
}
.contact-section .contact-form form .message textarea{
    width:100%;
    border-color: #91A7B0;
    padding:12px;
    font-size: 16px;
    color:#91A7B0;
    font-weight: 500;
    border-radius: 10px;
    height: 150px;
    resize: none;
}
.contact-section .contact-form form .message textarea:focus{
    outline: none;
}
.agree{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.agree-text{
    display: flex;
    align-items: center;
    gap:10px;
}
.action-btn .submit{background: #043A53;
padding: 15px 50px;
border-radius: 55px;
display: flex;
align-items: center;
border: none;
color: #fff;
font-size: 18px;
font-weight: 700;
gap: 25px;
margin-top: 32px;
cursor: pointer;
}
.help-section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 93px 0;
}
.help-section .help{
    width:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help h2.help-text{
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 16px;
}
.help p.contact-text{
    font-size: 20px;
    font-weight: 500;
    color:#12141D;
    text-align: center;
    line-height: 1.5;
}
.help p span{
    display: block;
}
.features ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap:32px;
    margin-top: 32px;
}
.features ul li{
    flex:1;
}
.features ul li .card-box{
    background: #fff;
    padding:24px;
    border-radius: 16px;
}
.features ul li .card-box img{
    width:64px;
    margin-bottom: 32px;
}
.features ul li .card-box h2{
    font-size: 24px;
    color:#12141D;
    font-weight: 700;
    margin-bottom: 15px;
}
.features ul li .card-box p{
    font-size: 18px;
    font-weight: 400;
    color:#404040;
    line-height: 1.5;
    margin-bottom: 60px;
}
.email-link{
    color:#043A53;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap:10px;
}
.email-link span{
    width: 24px;
}
.card-box .email-link span .email-arrow{
    width: 100%;
    margin-bottom: 0;
    
}
@media screen and (min-width:1200px) and (max-width:1300px) {
    .content-banner .title {
        font-size: 62px;
    }

    .video_info .video-container h2 {
        font-size: 50px;
    }

    .beneficial-elements .benefits {
        width: 85%;
    }

    .bridges-content h2 {
        font-size: 45px;
    }

    .meet-founder {
        padding: 50px 0;
    }
}

@media screen and (min-width:993px) and (max-width:1199px) {
    .partners-section .partner-logos {
        flex-direction: column;
        gap: 20px;
    }

    .partners-section .partner-logos h2 {
        text-align: center;
    }

    .partners-section .partner-logos ul {
        gap: 24px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .meet-founder {
        padding: 50px 0;
    }
    .building-bridges {
        flex-direction: column;
        order: 3;
    }

    .building-bridges .bridges-image {
        order: 1;
        width: 100%;
    }

    .building-bridges .bridges-image img {
        width: 100%;
    }

    .building-bridges .bridges-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .building-bridges .bridges-content h2 {
        font-size: 30px;
        padding-bottom: 0;
    }

    .building-bridges .bridges-content p {
        font-size: 14px;
    }

    .reports {
        margin-top: 0;
    }
    .cta-banner{
        height: auto;
        padding-right: 0;
        padding: 50px 20px 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner{
        flex-direction: column;
        padding-left: 0;
    }
    .banner-image{
        width: 100%;
    }
    .banner-image img{
        width: 100%;
    }
    .banner-content h2{
        font-size: 30px;
    }
    .banner-content button{
        margin:16px auto 0;
    }

}

@media screen and (min-width:360px) and (max-width:992px) {
    .wrapper .menu ul {
        display: none;
    }

    .wrapper .action-btn {
        display: none;
    }

    .wrapper .hamburger_icon {
        display: block;
    }

    .hero-section {
        height: auto;
        padding: 40px 20px;
    }

    .hero-section .content {
        width: 100%;
        flex-direction: column;
    }

    .hero-section .content .content-banner {
        order: 1;
    }

    .hero-section .content .image_box {
        display: none;
    }

    .hero-section .content .content-banner .title {
        font-size: 36px;
        font-weight: 700;
    }

    .hero-section .content .content-banner p {
        font-size: 14px;
        font-weight: 500;
        padding: 16px 0 0;
    }

    .hero-section .content .content-banner .button-action {
        flex-direction: column;
    }

    .hero-section .content .content-banner .button-action .btn-started {
        width: 150px;
        margin: 0 auto;
    }

    .hero-section .content .content-banner .button-action .btn-video {
        width: 245px;
        margin: 0 auto;
    }

    .content-banner .mobile-image {
        display: block;
        margin-top: 60px;
    }

    .partners-section .partner-logos {
        flex-direction: column;
    }

    .partners-section .partner-logos h2 {
        text-align: center;
    }

    .partners-section .partner-logos ul {
        gap: 24px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .video-section {
        padding: 50px 0 0;
    }

    .video-section .video_info {
        width: 100%;
        padding: 20px 20px 0;
    }

    .video-section .video_info .video-container {
        flex-direction: column;
    }

    .video-section .video_info .video-container h2 {
        width: 100%;
        font-size: 30px;
    }

    .video-section .video_info .video-container p {
        width: 100%;
        padding-top: 16px;
    }

    .beneficial-elements {
        padding: 50px 0;
    }

    .beneficial-elements .benefits {
        width: 100%;
        padding: 0 20px;
        gap: 32px;
        flex-direction: column;
    }

    .beneficial-elements .benefits .features ul {
        flex-direction: column;
    }

    .beneficial-elements .benefits .elements {
        text-align: center;
    }

    .beneficial-elements .benefits .elements span {
        margin-bottom: 16px;
    }

    .beneficial-elements .benefits .elements h2 {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .beneficial-elements .benefits .elements p {
        font-size: 14px;
    }

    .building-bridges {
        flex-direction: column;
        order: 1;
    }

    .building-bridges .bridges-image {
        order: 2;
        width: 100%;
    }

    .building-bridges .bridges-image img {
        width: 100%;
    }

    .building-bridges .bridges-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .building-bridges .bridges-content h2 {
        font-size: 30px;
        padding-bottom: 0;
    }

    .building-bridges .bridges-content p {
        font-size: 14px;
    }

    .reports {
        margin-top: 0;
    }

    .number-section {
        padding: 50px 0;
        order: 2;
    }

    .number-section .numbers {
        width: 100%;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    .number-section .numbers .step {
        font-size: 36px;
    }

    .number-section .numbers .step span {
        font-size: 16px;
    }

    .meet-founder {
        padding: 50px 0;
    }

    .founder-section {
        padding: 20px;
        flex-direction: column;
    }

    .founder-section .meet {
        padding-left: 0;
        text-align: center;
    }

    .founder-section .meet h2 {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .founder-section .meet p {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .success-btn {
        margin-top: 32px;
    }

    .founder-section .profile-image {
        width: 100%;
    }

    .testimonials {
        padding: 50px 0;
    }

    .testimonials-section {
        width: 100%;
        padding: 0 20px;
    }

    .testimonials-section .testimonials-header {
        flex-direction: column;
    }

    .testimonials-section .testimonials-header span {
        display: none;
    }

    .testimonials-section .testimonials-header h2 {
        font-size: 30px;
        text-align: center;
    }

    .testimonials-cards ul {
        width: 100%;
        overflow: scroll;
        scrollbar-width: none;
    }

    .testimonials-cards ul li {
        width: 100%;
    }

    .testimonials-cards ul li .card {
        width: 300px;
    }

    .dots {
        display: none;
    }

    .dots.mobile {
        display: block;
    }

    .mobile_see_all {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .mobile_see_all span {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .blog{
        padding:50px 0;
    }

    .blog_header span{
        display: none;
    }
    .blog_wrapper{
        width: 100%;
        padding:0 0 0 20px;
    }
    .blog_content ul{
        width: 100%;
        overflow: scroll;
        padding-bottom: 20px;
        scrollbar-width: none;
    }
    .blog_content ul li .blog_card{
        width: 288px;
    }
    .blog_header{
        margin-bottom: 32px;
    }
    .blog_header h2{
        font-size: 30px;
    }
    .blog_header h2 span{
        font-size: 30px;
    }
    .see-all{
        text-align: center;
       width: 100%;
       display: block;
    }
    .see-all span{
        display: flex;
        align-items: center;
        gap:10px;
        justify-content: center;
    }
    .cta-banner{
        height: auto;
        padding-right: 0;
        padding: 50px 20px 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner{
        flex-direction: column;
        padding-left: 0;
    }
    .banner-image{
        width: 100%;
    }
    .banner-image img{
        width: 100%;
    }
    .banner-content h2{
        font-size: 30px;
    }
    .banner-content button{
        margin:16px auto 0;
    }
    .main-footer{
        padding:50px 0;
    }
    .main-footer .footer-section{
        flex-direction: column;
        width: 100%;
        padding:20px;
        gap:24px;
    }
    .footer-section .left_column{
        text-align: center;
    }
    .footer-section .left_column .social-icons{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-section .left_column .social-icons ul{
        margin-top: 20px;
    }
    .footer-section .content_column{
        width: 100%;
        text-align: center;
    }
    .content-collaborators .images ul{
        flex-wrap: wrap;
    }
    .content-collaborators{
        width:90%;
    }
    .mid-container{
        width:100%;
        padding:0 20px;
        flex-direction: column;
        gap:32px;
    }
    .contact-section{
        padding:50px 0;
    }
    .contact-section .contact-form{
        width:100%;
        padding:0 20px;
    }
    .contact-section .contact-form h2{
        font-size: 32px;
    }
    .contact-section .contact-form p{
        font-size: 16px;
        font-weight: 500;
    }
    .contact-section .contact-form form{
        gap:32px;
    }
    .contact-section .contact-form form .field{
        width: 100%;
    }
    .agree{
        flex-direction: column;
    }
    .help-section {
        padding:50px 0;
    }
    .help-section .help{
        width:100%;
        padding:0 20px;
    }
    .help-section .help h2.help-text{
        font-size: 32px;
    }
    .help-section .help p.contact-text{
        font-size: 16px;
    }
    .features ul{
        flex-direction: column;
    }
}